<h1><%= link_to 'Create a new Project', new_project_path %></h1>

<% unless @user.administrating_projects.empty?  %>
  <div class="administrated_projects">
    <h3>Projects I'm administrating</h3>
    <% @user.administrating_projects.in_progress_or_planning.each do |project| %>
        <div>
          <h4><%= link_to project.title, project %></h4>
          <p><%= project.description %></p>
        </div>
    <% end %>
  </div>
<% end %>

<% unless @user.projects_as_collaborator.empty? %>
  <h3>Projects I'm collaborating on</h3>
  <div class="projects_as_collaborator">
    <% @user.projects_as_collaborator.each do |project| %>
      <div>
        <h4><%= link_to project.title, project %></h4>
        <p><%= project.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @user.solicited_projects.empty? %>
  <h3>Projects I'm waiting to join</h3>
  <div class="solicited_projects">
    <% @user.solicited_projects.each do |project| %>
      <div>
          <h4><%= link_to project.title, project %></h4>
          <p><%= project.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @user.projects.completed.empty? %>
  <h3>Projects I've completed</h3>
  <div class="completed_projects">
    <% @user.projects.completed.each do |project| %>
      <div>
        <h4><%= link_to project.title, project %></h4>
          <p><%= project.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_user_registration_path(current_user) %> |
<%= link_to 'Back', user_path(current_user) %>
