<p id="notice"><%= notice %></p>

<h2>I'm now working on...</h2>

<div class="in_progress_user_projects">
  <% @user.projects.in_progress.each do |project| %>
    <div>
      <h4><%= project.title %></h4>
      <p><%= project.description %></p>
    </div>
  <% end %>
</div>

<div class="planned_user_projects">
  <% @user.projects.in_planning.each do |project| %>
    <div>
      <h4><%= project.title %></h4>
      <p><%= project.description %></p>
    </div>
  <% end %>
</div>

<div class="completed_user_projects">
  <% @user.projects.completed.each do |project| %>
    <div>
      <h4><%= project.title %></h4>
        <p><%= project.description %></p>
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_user_registration_path(current_user) %> |
<%= link_to 'Back', user_path(current_user) %>
