<h3><%= @project.title %></h3> <p><%= @project.status %></p>
<div class="project_description"><p><%= @project.description %></p></div>
  <% if @project.admin == current_user %>
    <% if @project.status == "planning" %>
      <%= button_to "Mark as in progress", {controller: "user_projects", action: "in_progress", user_id: current_user.id, project_id: @project.id}, method: :post %>
    <% end %>
    <% if @project.status == "in_progress" %>
      <%= button_to "Mark as completed", {controller: "user_projects", action: "close_project", user_id: current_user.id, project_id: @project.id}, method: :post %>
    <% end %>
  <% end %>
  <% unless current_user.projects.include?(@project) %>
    <%= button_to "Volunteer for this project", {controller: "user_projects", action: "apply_for_project", user_id: current_user.id, project_id: @project.id}, method: :post %>
  <% end %>

<div class="project_team">
  <h4>Team</h4>
  <div class="admin_profile">
    <strong><%= @project.admin.name %></strong>
  </div>
  <% if @project.current_collaborators %>
    <% @project.current_collaborators.each do |user| %>
      <div class="team_member_profile">
        <strong><%= user.name %></strong>
      </div>
    <% end %>
  <% end %>
</div>

<div class="prospective_collaborators">
  <% if @project.admin_id == current_user.id || @project.current_collaborators.include?(current_user) %>
    <% unless @project.prospective_collaborators.empty? || @project.status == "completed" %>
    <div class="want_to_join">
      <h4>These people want to join your team</h4>
      <% @project.prospective_collaborators.each do |user| %>
        <div class="prospective_collaborator">
          <%= user.name %>
          <div class="skill_set">
            <% user.skills.each do |skill| %>
              <div class="skill"><%= skill.name %></div>
            <% end %>
          </div>
          <% if @project.admin_id == current_user.id %>
            <%= button_to "Approve collaboration", {controller: "user_projects", action: "approve_collaboration", user_id: user.id, project_id: @project.id}, method: :post %>
            <%= button_to "Deny collaboration", {controller: "user_projects", action: "deny_collaboration", user_id: user.id, project_id: @project.id}, method: :post %>
          <% end %>
        </div>
        </div>
      <% end  %>
    </div>
    <% end %>
    <div class="suggested_collaborators">
      <% if User.matching_project_skills(@project).reject{|u|u == current_user}.length > 0 %>
      <h4>These people have skills your project is looking for:</h4>
      <% User.matching_project_skills(@project).reject{|u|u == current_user}.each do |user| %>
        <div class="prospective_collaborator">
          <p><%= user.name %><br/>
            Relevant skills:<br/>
            <% user.skills.select{|skill|@project.skills.include?(skill)}.each do |skill| %>
              <div class="skill_tab"><%= skill.name %></div>
            <% end %>
          </p>
          <%= button_to "Invite to project", {controller: "user_projects", action: "invite", user_id: user.id, project_id: @project.id}, method: :post %>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>