<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="project_card col-sm-offset-1 col-md-8">
      <h3 class="project_title"><%= @project.title %></h3> 
      <% if current_user.received_invitation?(@project) %>
      <div class="action_bar">
        <%= button_to "You've been invited to this project. Click to accept Invitation", {controller: "user_projects", action: "accept_invitation", user_id: current_user.id, project_id: @project.id}, method: :post %>
      </div>
      <% elsif !current_user.projects.include?(@project) %>
      <div class="action_bar">
      <%= button_to "Volunteer for this project", {controller: "user_projects", action: "apply_for_project", user_id: current_user.id, project_id: @project.id}, method: :post %>
      </div>
      <% elsif current_user.projects_as_collaborator.include?(@project) %>
      <div class="action_bar">
        <%= button_to "Leave this project", {controller: "user_projects", action: "leave_project", user_id: current_user.id, project_id: @project.id}, method: :post %>
      </div>
      <% end %>
      
      <div class="status_bar">
        <div class="project_subhead project_status"><%= @project.status %>
          <% if @project.admin == current_user %>
            <% if @project.status == "planning" %>
              <%= button_to "Mark as in progress", {controller: "user_projects", action: "in_progress", user_id: current_user.id, project_id: @project.id}, method: :post %>
            <% end %>
            <% if @project.status == "in_progress" %>
              <%= button_to "Mark as completed", {controller: "user_projects", action: "close_project", user_id: current_user.id, project_id: @project.id}, method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="project_description"><p><%= @project.description %></p></div>

      <div class="project_team">
        <h3>Team</h3>
        <ul>
          <div class="team_member">
              <% if @project.admin == current_user %>
                <li class="team_admin_name"><%= image_tag avatar_url(@project.admin), class: "gravatar" %>
                <%= @project.admin.name %>
              <% else %>
                <li class="team_admin_name"><%= image_tag avatar_url(@project.admin), class: "gravatar" %>
                <%= link_to @project.admin.name, user_path(@project.admin) %></li>
              <% end %>
          </div>
          <% if @project.current_collaborators %>
            <% @project.current_collaborators.each do |user| %>
                <div class="team_member">
                  <li class="team_member_name">
                    <%= image_tag avatar_url(user), class: "gravatar" %>
                    <% if user == current_user %>
                      <%= user.name %>
                    <% else %>
                      <%= link_to user.name, user_path(user) %>
                    <% end %>
                    <% if @project.admin == current_user && @project.not_completed? %>
                      <div class="action_bar remove_user_button">
                        <%= button_to "Remove this team member", {controller: "user_projects", action: "remove_user_from_project", user_id: user.id, project_id: @project.id}, method: :post %>
                      </div>
                    <% end %>
                    <% unless user.id == current_user.id || @project.not_completed? %><!-- don't rate yourself -->
                      <p>
                        <% user.skills.each do |skill| %>
                          <%= skill.name %>
                          <% if skill.endorsable?(current_user, user, @project) %>
                            <%= button_to "+", {controller: "user_projects", action: "update", user_id: user.id, project_id: @project.id, skill_id: skill.id}, method: :post, class: "endorse_button" %>
                          <% end %>
                        <% end %>

                      </p>
                    <% end %>
                  </li>
                </div>
            <% end %>
          <% end %>
        </ul>
      </div><!-- END Project Team -->
    </div><!-- END Project Card -->
  </div>
</div>

<div class="row subsequent_people">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="project_card col-sm-offset-1 col-md-8">
      <div class="prospective_applicants">
        <% if current_user.is_admin_for?(@project) || @project.current_collaborators.include?(current_user) %>
          <% unless @project.prospective_applicants.empty? %>
          <div class="want_to_join">
            <h4>These people want to join your team</h4>
            <% @project.prospective_applicants.each do |user| %>
            <div class="prospective_collaborator">
              <%= user.name %>
              <div class="skill_set">
                <% user.skills.each do |skill| %>
                  <div class="skill"><%= skill.name %></div>
                <% end %>
              </div>
              <% if current_user.is_admin_for?(@project) && !user.invited_projects.include?(@project) %>
                <%= button_to "Approve collaboration", {controller: "user_projects", action: "approve_collaboration", user_id: user.id, project_id: @project.id}, method: :post %>
                <%= button_to "Deny collaboration", {controller: "user_projects", action: "deny_collaboration", user_id: user.id, project_id: @project.id}, method: :post %>
              <% end %>
            </div>
            <% end  %>
          </div>
          <% end %>
      </div><!-- END prospective_applicants -->
          <% unless @project.completed? || current_user.is_not_admin_for?(@project)%>
            <div class="suggested_collaborators">
              <% if @project.has_matching_user_skills? %>
              <h4>These people have skills that could be useful to you:</h4>
                <% @project.skill_matching_users.each do |user| %>
                  <div class="prospective_collaborator">
                    <li class="collaborator_name">
                      <%= image_tag avatar_url(user), class: "gravatar" %>
                      <%= user.name %>
                      <%= button_to "invite", {controller: "user_projects", action: "invite", user_id: user.id, project_id: @project.id}, method: :post, class: ['action_bar'] %>
                    </li>
                      <% user.relevant_skills_for(@project).each do |skill| %>
                        <ul>
                          <div class="skill_tab"><li><%= skill.name %></li></div>
                        </ul>
                      <% end %>
                  </div>
                <% end %>
              <% else %>
                <h3>No one seems to have the skills you need :/</h3>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div><!-- END side -->
</div><!-- END row -->

<% if @project.admin == current_user %>
  <script>
    $(function(){
      $('.status_bar form').hide();
      $('.project_status').on('mouseenter', function(){
        $('.status_bar form').show();
      });
      $('.project_status').on('mouseleave',function(){
          $('.status_bar form').hide();
      })
    })
  </script>
<% end %>

<% if current_user.projects.include?(@project)  %>
  <%= render 'projects/chat_sidebar', project: @project %>
<% else %>
  <%= render 'projects/home_sidebar' %>
<% end  %>

<%= javascript_include_tag "http://#{ENV["FAYE_URL"]}:9292/faye.js" %>
<script>
  $(function(){
    var faye = new Faye.Client("http://<%= ENV['FAYE_URL'] %>:9292/faye")
    faye.subscribe('/messages/'+<%= @project.id %>,function(data){
      eval(data)
    });

  });
</script>
